@model IEnumerable<WebASP.Models.ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tất cả chi tiết hóa đơn</h1>

<p>
    <a asp-action="Create">Thêm chi tiết hóa đơn mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.HoaDonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.SanPhamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChiTietHoaDonId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ChiTietHoaDonId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ChiTietHoaDonId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
