@model IEnumerable<WebASP.Models.TaiKhoan>

@{
    ViewData["TaiKhoan"] = ViewBag.TaiKhoan;
    ViewData["Title"] = "Tất cả tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tất cả tài khoản</h1>

<p>
    <a asp-action="Create">Thêm mới tài khoản</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgSinh)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiTK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgSinh)/@Html.DisplayFor(modelItem => item.ThSinh)/@Html.DisplayFor(modelItem => item.NamSinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <img style=" width: 50px;" src="~/img/taikhoan/@Html.DisplayFor(modelItem => item.Anh)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiTK.TenLoai)
                </td>
                <td>
                    <a asp-route-id="@item.TaiKhoanId" asp-area="Admin" asp-controller="TaiKhoans" asp-action="SuaTrangThai">
                        @if (item.TrangThai == false)
                        {
                            <button class="btn btn-danger">Đang khóa</button>
                        }
                        @if (item.TrangThai == true)
                        {
                            <button class="btn btn-success">Đang mở</button>
                        }
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaiKhoanId">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.TaiKhoanId">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaiKhoanId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
