@model IEnumerable<WebASP.Models.GioHang>
@{
    ViewData["Title"] = "Giỏ hàng";
    ViewData["TaiKhoan"] = ViewBag.TaiKhoan;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/admins/vendor/jquery/jquery.min.js"></script>
<script src="~/admins/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/admins/js/sb-admin-2.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/admins/vendor/jquery-easing/jquery.easing.min.js"></script>
<link rel="stylesheet" href="~/users/cart/style.css" />
<div>
    <div class="textgiohang">Giỏ hàng</div>
    @if (ViewBag.slsp == 0)
    {
        <span>Chưa có sản phẩm nào trong giỏ hàng</span>
    }
    else
    {
        <table border="1">
            <tr>
                <th style="width: 211px"> Sản phẩm </th>
                <th style="width: 523px"> Tên sản phẩm </th>
                <th style="width: 157px"> Số lượng </th>
                <th style="width: 185px"> Giá tiền </th>
                <th style="width: 180px"> Xoá </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a class="imgproduct" href=""><img src="~/img/sanpham/@item.SanPham.Anh" alt="" /></a></td>
                    <td><a class="nameproduct" href="">@item.SanPham.TenSP</a></td>
                    <td>
                        <p></p><form id="myform" asp-controller="Home" asp-action="CapNhatSL" asp-route-id="@item.SanPham.SanPhamId" method="post">
                            <input type="number" name="quantity" value="@item.SL" min="1" max="50">
                        </form>
                    </td>
                    <td>@item.SanPham.DonGia.ToString("#,##0") VND</td>
                    <td><a class="imgremove" asp-controller="Home" asp-action="XoaSPGioHang" asp-route-id="@item.SanPham.SanPhamId"><img src="~/users/cart/images/remove.png" alt="" /></a></td>
                </tr>
            }
            <tr>
                <td colspan="4">Tổng tiền</td>
                <td>@ViewBag.tongtien.ToString("#,##0") VND</td>
            </tr>
        </table>
    }
    @ViewBag.loi
    <div style="text-align:center;margin:20px">
        <a asp-controller="Home" asp-action="Pay"><button type="button" class="btn btn-primary">Mua hàng</button></a>
        <button onclick="submitForm()" class="btn btn-primary">Cập nhật</button>
    </div>
</div>
