@model IEnumerable<WebASP.Models.LoaiSP>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tất cả loại sản phẩm</h1>

<p>
    <a asp-action="Create">Thêm mới loại sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaiSPId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.LoaiSPId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaiSPId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
