@model IEnumerable<WebASP.Models.LoaiTK>

@{
    ViewData["TaiKhoan"] = ViewBag.TaiKhoan;
    ViewData["Title"] = "Tất cả loại tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tất cả loại tài khoản</h1>

<p>
    <a asp-action="Create">Thêm mới loại tài khoản</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaiTKId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.LoaiTKId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaiTKId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
