@model IEnumerable<WebASP.Models.GioHang>

@{
    ViewData["TaiKhoan"] = ViewBag.TaiKhoan;
    ViewData["Title"] = "Danh sách giỏ hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách giỏ hàng</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.TaiKhoanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.SanPhamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.GioHangId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.GioHangId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
